---
import Entry from "@components/Entry.astro";
import Layout from "@layouts/Layout.astro";

//microCMS呼び出し
import { Blog, getBlogs } from "@libs/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
---

<Layout title="RM Blog">
  <main class="my-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {
        response.contents.map((content: Blog) => (
          <Entry title={content.title} href={content.id} image={""} />
        ))
      }
    </div>
  </main>
</Layout>
