---
import Entry from "@components/Entry.astro";
import Layout from "@layouts/Layout.astro";
import { Header } from "@components/Header";

//microCMS呼び出し
import { Blog, getBlogs } from "@libs/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
---

<Layout title="RM Blog">
  <Header />
  <main class="px-6 my-4">
    <div class="flex justify-center space-x-4">
      {
        response.contents.map((content: Blog) => (
          <Entry title={content.title} href={content.id} image={""} />
        ))
      }
    </div>
  </main>
  <footer class="absolute bottom-0 left-2/4 pb-3 text-sm">&copy;2023 Ryohei Miki</footer>
</Layout>
