---
import Entry from "@components/Entry.astro";
import Layout from "@layouts/Layout.astro";

//microCMS呼び出し
import { Blog, getBlogs } from "@libs/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
---

<Layout title="My first blog with Astro">
  <main class="px-6">
    <div class="flex justify-center space-x-4">
      {
        response.contents.map((content: Blog) => (
          <Entry title={content.title} href={content.id} image={""} />
        ))
      }
    </div>
  </main>
</Layout>
